{% extends 'base.html.twig' %}
{% block body %}
    <h1> Attendance List System </h1>

    <table class="table">
        <thead>
        <tr>
            <a href="{{ path('student_index') }}">All student</a>
        </tr>
        </thead>
    </table>
{% endblock %}